header {
    background-image: url(../Images/kent.jpeg);
    color: white;
}
h1 {
    background-color: black;
    width: 15%;
}
.container {
    max-width: 330px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 20px;
}
.panel-heading {
    background-color: green;
}
